#book {

  #sidebar a {
    color: #888;
  }
  #chapters-list {
    border-right: 1px solid $dark-color;
    padding-right: 15px;

    .sortable-placeholder {
      background-color: lighten($primary-color, 20%);
      height: 2em;
    }

    .chapter {

      padding: 0.4em 0;
      a.chapter-title {
        display: block;

        i.fa-bars {
          cursor: move;
          margin-right: 0.3rem;
        }
        .fa-caret-right {
          display: inline-block;
        } 

        .fa-caret-down {
          display: none;
        }   
      }

      a.chapter-edit, a.chapter-delete {
        float: right;
        margin-right: 0.5em;
        visibility: hidden;
      }

      &:hover {
        a.chapter-edit, a.chapter-delete {
          visibility: visible;
        }
      }

      &.expanded {
        a.chapter-title {
        

          .fa-caret-right {
            display: none;
          } 

          .fa-caret-down {
            display: inline-block;
          }   
        }

        .sections {
          display: block;
        }
      }
    }

    .sections {
      margin-left: 1em;
      display: none;

      .section {
        a.section-title {
          display: block;
        }
        a.section-edit, a.section-delete {
          float: right;
          visibility: hidden;
        }
        &:hover {
          a.section-edit, a.section-delete {
            visibility: visible;
          }
        }
      }
    }


  }
}